<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
  <test name="our company">
  <classes>
	  <class name="UnileverAuto.UnileverFunctionCheck">
	  <methods>
	  <include name="setup"></include>
	  <include name="acceptCookiesIfPresent"></include>
	  <include name="VerifyOurCompanyLink"></include>
	  <include name="VerifyViewCompany"></include>
	  <include name="VerifyContactUs"></include>
	  <include name="teardown"></include>
	  </methods>
	  </class>
</classes>
</test>
	  
	  
 <test name="suppliers">
  <classes>
	  <class name="UnileverAuto.UnileverFunctionCheck">
	  <methods>
	  <include name="setup"></include>
	  <include name="acceptCookiesIfPresent"></include>
	  <include name="VerifySuppliersLink"></include>
	  <include name="VerifyViewSuppliersLink"></include>
	  <include name="teardown"></include>
	  </methods>
	  </class>
</classes>
</test>
	
<test name="sustainability">
  <classes>  
	  <class name="UnileverAuto.UnileverFunctionCheck">
	  <methods>
	  <include name="setup"></include>
	  <include name="acceptCookiesIfPresent"></include>
	  <include name="VerifySustainabilityLink"></include>
	  <include name="teardown"></include>
	  </methods>
	  </class>
</classes>
</test>

<test name="careers">
  <classes>  
   	  <class name="UnileverAuto.UnileverFunctionCheck">
	  <methods>
	  <include name="setup"></include>
	  <include name="acceptCookiesIfPresent"></include>
	  <include name="VerifyCareersLink"></include>
	  <include name="VerifyCareersSearchLink"></include>
	  <include name="teardown"></include>
	  </methods>
	  </class>
</classes>
</test>
  
 <test name="brands">
  <classes> 
     <class name="UnileverAuto.UnileverFunctionCheck">
	  <methods>
	  <include name="setup"></include>
	  <include name="acceptCookiesIfPresent"></include>
	  <include name="VerifyBrandsLink"></include>
	  <include name="VerifyViewBrandsLink"></include>
	  <include name="VerifyExploreBrandsLink"></include>
	  <include name="VerifySearchBrandsLink"></include>
	  <include name="VerifySearchBrandsBtn"></include>
	  <include name="teardown"></include>
	  </methods>
	  </class>
	   </classes>
  </test> 
  
	 <test name="investers">
	 <classes> 
	  <class name="UnileverAuto.UnileverFunctionCheck">
	  <methods>
	  <include name="setup"></include>
	  <include name="acceptCookiesIfPresent"></include>
	  <include name="VerifyInvestersLink"></include>
	  <include name="teardown"></include>
	  </methods>
	  </class>
  </classes>
  </test> 
  
  <test name="news">
  	<classes>
  		<class name="UnileverAuto.UnileverFunctionCheck">
		  <methods>
		  <include name="setup"></include>
		  <include name="acceptCookiesIfPresent"></include>
		  <include name="VerifyNewsLink"></include>
		  <include name="VerifyLatestNewsLink"></include>
		  <include name="teardown"></include>
		  </methods>
	  </class>
	  
  	</classes>
  </test>
  
</suite> 
